body {
  color:#000000;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  background-image: url(/images/body_bkg/nensite2009.jpg);
}
iframe{
	width: 100%;
}
table{background-color: white;}
table#bigtable {
      margin: 0 auto;
      background: transparent;
      font-family: helvetica, arial, sans-serif;
      font-size: 10pt;
      line-height: 16pt;
      /*-moz-box-shadow: #000 4px 4px 10px;
      -webkit-box-shadow: #000 4px 4px 10px;*/
}
#if_products{height: 700px;}
#homesec {
	margin: 70px auto;
	padding: auto;
	width: 1024px;
	height: 683px;
	background: url(/images/body_bkg/light_textured_backround_1024x768.jpg) no-repeat center center;
}
ul#headermenu li{display: inline;}
ul#headermenu li a{padding: 10px 20px;text-decoration: none;color: yellow;border-right: 1px solid #cccccc}
ul#headermenu li a:hover{color: red}
table .l-menu-link td a{color: blue;}
table .l-menu-link td a:hover{color: yellow;}